﻿@{
    ViewData["Title"] = "Home Page";
}
@model InternetForum.Models.User

<div class="text-center">
    <h1 class="display-4">Вы дома, @Model.UserName</h1>
    <p>В будущем, сюда можно добавить настройки пользователя. Изменить никнейм, гмейл.</p>
</div>

