﻿
<div id="results"></div>


<form class="form-inline">
    <div class="form-group mb-2">
        <label for="searchKey">Search Users</label>
        <input type="text"  class="form-control" id="search" >
    </div>
  
    <button type="submit" class="btn btn-primary mb-2" id="submit" >Submit</button>
</form>

<script>

    $(document).ready(function () {

        $('#submit').click(function (e) {

            e.preventDefault();

                    var searchKey = $('#search').val();

            searchKey = encodeURIComponent(searchKey);

            $('#results').load('@Url.Action("SearchAjaxResult", "User")?keyWord=' + searchKey);

        });

    });

</script>