﻿@model IEnumerable<InternetForum.Models.User>

@{
    ViewData["Title"] = "Index";
}


<div class="card-deck mb-3 text-center">
    @foreach (var item in Model)
    {
        <div class="card" style="max-width: 200px;">
            <img src="~/Images/AvatarImages/@item.Avatar" alt="@item.UserName" class="person-card"/>
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.UserName)
                </h5>

                <a asp-action="Index" asp-controller="Posts" asp-route-id="@item.Id" 
                   class="btn btn-primary"  onclick="sendFollow('@item.Id')">
                Темы @item.UserName
                </a>
            </div>
        </div>
    }
</div>


<script>
 
        function sendFollow(postId) {
            $.ajax( {
                url: '@Url.Action("Follow", "Account")',
                type: 'POST',
                success: function (data, status, xhr) {
                    console.log("Все нормально.");
                    window.location.reload();
                    console.log(status);
                   

                  


                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Что-то пошло не так..")
                    console.log(jqXhr);
                    console.log(textStatus);
                    console.log(errorMessage);
                }
            });
        }

</script>