﻿@using InternetForum.Models
@model List<User>

<h2>Найдено пользователей - @Model.Count</h2>

<div id="searchresults">

    @if (Model.Count > 0)

    {

        foreach (User user in Model)

        {

            <span><img src="~/Images/AvatarImages/@user.Avatar" width="100" height="100" /></span>

            <span><a href="#">
                @user.UserName</a>
    </span>

            <span>@user.UserName</span>

        }

    }

</div>

