﻿@model InternetForum.Models.Post

@{
    ViewData["Title"] = "Delete";
}



<h3>Уверены, что хотите удалить?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LikeCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LikeCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentCount)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Пойти обратно...</a>
    </form>
</div>
