﻿@model InternetForum.Models.Post

@{
    ViewData["Title"] = "Details";
}



<h1>Тема:@Model.Theme</h1>
<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <div class="lh-100">
        <h6 class="mb-0 text-black-50 lh-100">@Model.Description</h6>

        <strong class="text-black-50 ">
            Лайков - @Model.LikeCount ,
        </strong>
        <strong class="text-black-50 ">
            Ответов - @Model.CommentCount
        </strong>
        <small class="text-muted">
        @Model.CreatedOn
    </small>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Пойти обратно...</a>
</div>
