﻿@model IEnumerable<InternetForum.Models.Post>



<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Самые яростные дискуссии начинаются здесь.</h1>
        <p class="lead text-muted">
            У каждого свой горизонт знаний и интересов, а когда он сужается до точки, человек говорит: «Это моя точка зрения».<br />
            Давид Гильберт

        </p>
        <p>
            <a class="text-dark" asp-action="Create">Cоздай тему!</a>
        </p>
    </div>
</section>
@foreach (var item in Model.OrderByDescending(x => x.CreatedOn))
{

    <div class="col-md-10">
        <div class="card mb-4 shadow-sm">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ещё...
                </button>
                <div class="dropdown-menu">
                    <p><a class="text-dark" asp-action="Edit" asp-route-id="@item.Id">Изменить </a></p>
                    <p><a class="text-dark" asp-action="Delete" asp-route-id="@item.Id">Удалить </a></p>
                    <p><a class="text-dark" asp-action="Details" asp-route-id="@item.Id">Детали </a></p>
                </div>
            </div>
            <p>Тема от: @item.User</p>
            <div class="card-header">
                @item.Theme
            </div>
            <div class="card-body">

                <p><a class="text-dark" asp-action="Details" asp-route-id="@item.Id">Посмотреть содержимое...</a></p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                        <a onclick="openCommentForm(@item.Id)" style="cursor: pointer" , class="btn btn-info btn-sm">Ответить(@item.CommentCount)</a>
                      

                    </div>

                    <small class="text-muted">@item.CreatedOn</small>
                </div>
                <div id="postdiv-@item.Id" style="display:none">

                    <textarea id="posttext-@item.Id"></textarea>

                    <input type="button" id="postComment" onclick="sendComment('@item.Id')" onClick="refreshPage()" value="Отправить" class="btn btn-info btn-success" />
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Последние ответы
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu col-10" role="menu" aria-labelledby="dropdownMenu1">
                        @foreach (Comment comment in item.Comments.OrderByDescending(x => x.CommentDate))
                        {
                            <div class="media text-muted pt-lg-4">

                                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                    <strong class="d-block text-gray-dark">@comment.User.UserName (@comment.User.AnswerCount ответов на Форуме) </strong>
                                    @comment.Content
                                   
                     
                                </p>
                                <small class="text-muted">@comment.CommentDate</small>
                            </div>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
}
<script>
    function openCommentForm(postId)
    {
$('#postdiv-' + postId).toggle();
    }
        function sendComment(postId) {
            $.ajax( {
                url: '@Url.Action("Comment", "Posts")',
                type: 'POST',
                data: { 'postId': postId, 'Content': $('#posttext-' + postId).val() },
                success: function (data, status, xhr) {
                    console.log("Все нормально.");
                    window.location.reload();
                    console.log(data);
                    console.log(status);
                    console.log(xhr);

                    var result = JSON.parse(data.value)
                    $('#comentcout-' + postId).html(result.count);
                    console.log(result)


                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Что-то пошло не так..")
                    console.log(jqXhr);
                    console.log(textStatus);
                    console.log(errorMessage);
                }
            });
        }

</script>