﻿
@model LoginViewModel


<div class="row">
    <h2>Добро пожаловать на Форум!</h2>
</div>
 <p>Вам необходимо залогиниться, чтобы пользоваться этой платформой</p>
 <form method="post" asp-controller="Account" asp-action="Login"
       asp-route-returnUrl="@Model.ReturnUrl">

     <div asp-validation-summary="ModelOnly"></div>

     <div>

         <label asp-for="Email"></label><br />

         <input asp-for="Email" />

         <span asp-validation-for="Email"></span>

     </div>

     <div>

         <label asp-for="Password"></label><br />

         <input asp-for="Password" />

         <span asp-validation-for="Password"></span>

     </div>

     <div>

         <label asp-for="RememberMe"></label><br />

         <input asp-for="RememberMe" />

     </div>

     <div>

         <input type="submit" value="Войти" />

     </div>
      <p> 
          <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Нет аккаунта? Зарегистрируйтесь</a>
          </p>
 </form>