﻿
@model RegisterViewModel

<h2>Регистрация нового пользователя</h2>

<form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly"></div>

    <div>

        <label asp-for="Email"></label><br />

        <input asp-for="Email" />

        <span asp-validation-for="Email"></span>

    </div>
    <div>

        <label asp-for="UserName"></label><br />

        <input asp-for="UserName" />

        <span asp-validation-for="UserName"></span>

    </div>
    <div>
        <input asp-for="AvatarImage" type="file" />
        <br />
        <label asp-for="AvatarImage"></label>
        <br />
        <span asp-validation-for="AvatarImage"></span>

    </div>
    <div>

        <label asp-for="Password"></label><br />

        <input asp-for="Password" />

        <span asp-validation-for="Password"></span>

    </div>

    <div>

        <label asp-for="PasswordConfirm"></label><br />

        <input asp-for="PasswordConfirm" />

        <span asp-validation-for="PasswordConfirm"></span>

    </div>

    <div>

        <input type="submit" value="Регистрация" />

    </div>

</form>

